@use '@angular/material' as mat;

@include mat.core();

$angular_search-cats-with-filters-primary: mat.define-palette(mat.$indigo-palette);
$angular_search-cats-with-filters-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular_search-cats-with-filters-warn: mat.define-palette(mat.$red-palette);

$angular_search-cats-with-filters-theme: mat.define-light-theme((
  color: (
    primary: $angular_search-cats-with-filters-primary,
    accent: $angular_search-cats-with-filters-accent,
    warn: $angular_search-cats-with-filters-warn,
  )
));

@include mat.all-component-themes($angular_search-cats-with-filters-theme);

* {
  box-sizing: border-box;
}

html {
  background-color: #dbdcff;
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
